recursive-include doc *.html
recursive-include tests runTests.py
recursive-include tests/AdvancedHTMLParserTests *.py
recursive-include AdvancedHTMLParser *.py .vimrc
include ChangeLog
include example.py
include indexed_example.py
include README.md
include README.rst
include LICENSE
include MANIFEST.in
include setup.py
include formatHTML
